backend.hcl
.env
sessions
session**
*bkp*.py
*test*.py
terraform.tfvars
.venv
.terraform
.terraform.lock.hcl
code/lambda_kb_processing/bkp/
code/bedrock_strands_framework/bkp/
code/bkp/
check_kb_doc_status.txt
response.json
function.zip
code/agent_output
code/agent_sessions
code/MCP_based-retreival/mcp_server_lambda.py
code/requirements.txt
personalagent/app/MyAgent/src/
personalagent/app/MyAgent/.venv
personalagent/app/MyAgent/.python-version
personalagent/app/MyAgent/uv.lock





